# **Lab 3: More on dplyr and chaining operators**

In [1]:
library (tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.6     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
url <- "https://raw.githubusercontent.com/Juanets/movie-stats/master/movies.csv"
movies <- read_csv(url)
locale <- Sys.setlocale(category = "LC_ALL", locale = "C")

── Column specification ────────────────────────────────────────────────────────
cols(
  budget = col_double(),
  company = col_character(),
  country = col_character(),
  director = col_character(),
  genre = col_character(),
  gross = col_double(),
  name = col_character(),
  rating = col_character(),
  released = col_character(),
  runtime = col_double(),
  score = col_double(),
  star = col_character(),
  votes = col_double(),
  writer = col_character(),
  year = col_double()
)

## **summarise(): reduce variables to values**

summarize() can be used to aggregate data or to compute a summarizing value of interest.

In [ ]:
summarise(movies,
tot_gross_in_bil = sum(gross)/1e9,
mean_gross_in_mil = mean(gross)/1e6,
)

  tot_gross_in_bil mean_gross_in_mil
1 228.4552         33.49783

summarize() is more useful on data previously grouped by one or
more variables using group_by().

Grouping allows you to compute summaries for each categories separately:

In [ ]:
by_genre <- group_by(movies, genre)
summarize(by_genre, tot_gross_in_bil = sum(gross)/1e9,
mean_gross_in_mil = mean(gross)/1e6)

   genre     tot_gross_in_bil mean_gross_in_mil
1  Action    74.792634664     56.1928134
2  Adventure 20.895092830     53.3038082
3  Animation 25.342203262     91.4880984
4  Biography  8.617526666     24.0042526
5  Comedy    53.543423603     25.7420306
6  Crime     10.217836159     19.5743988
7  Drama     25.204622256     17.4547246
8  Family     0.118110208      8.4364434
9  Fantasy    0.644653115     20.1454098
10 Horror     7.117846856     25.6961980
11 Musical    0.008094993      2.0237483
12 Mystery    1.379951556     36.3145146
13 Romance    0.145764206      9.7176137
14 Sci-Fi     0.307801697     23.6770536
15 Thriller   0.099600218      5.5333454
16 War        0.001509775      0.7548875
17 Western    0.018519094      9.2595470

## **Elementary but useful summary functions**


*   min(x), median(x), max(x), quantile(x, p)
*   n(), n_distinct(), sum(x), mean(x)
*   sum(x > 10), mean(x > 0)
*   sd(x), var(x)

## **Counting observations**

tally() function can be used to generate a group frequency table, (number of
observations in each category)

In [ ]:
tally(group_by(movies, genre))

   genre     n
1  Action    1331
2  Adventure  392
3  Animation  277
4  Biography  359
5  Comedy    2080
6  Crime      522
7  Drama     1444
8  Family      14
9  Fantasy     32
10 Horror     277
11 Musical      4
12 Mystery     38
13 Romance     15
14 Sci-Fi      13
15 Thriller    18
16 War          2
17 Western      2

In [ ]:
tally(group_by(movies, genre, country))

       genre    country        n
1      Action   Aruba           1
2      Action   Australia      12
3      Action   Austria         1
4      Action   Belgium         1
5      Action   Brazil          2
6      Action   Canada         26
7      Action   China          13
8      Action   Czech Republic  1
9      Action   Denmark         2
10     Action   France         41
11     Action   Germany        32
12     Action   Hong Kong      20
13     Action   India           9
14     Action   Indonesia       2
15     Action   Ireland         2
16     Action   Japan          13
17     Action   Malta           1
18     Action   Mexico          2
19     Action   New Zealand     2
20     Action   Norway          2
21     Action   Panama          1
22     Action   Peru            2
23     Action   Romania         1
24     Action   Russia          4
25     Action   South Africa    3
26     Action   South Korea    10
27     Action   Spain           2
28     Action   Sweden          1
29     Action   Taiwan          2
30     Action   Thailand        2
<U+22EE> <U+22EE> <U+22EE>       <U+22EE>
209    Horror   Mexico           1
210    Horror   Netherlands      1
211    Horror   Russia           1
212    Horror   South Africa     1
213    Horror   Spain            6
214    Horror   UK              20
215    Horror   USA            213
216    Musical  India            2
217    Musical  USA              2
218    Mystery  Australia        1
219    Mystery  Belgium          1
220    Mystery  Canada           1
221    Mystery  France           2
222    Mystery  Germany          3
223    Mystery  Spain            1
224    Mystery  UK               2
225    Mystery  USA             27
226    Romance  Canada           1
227    Romance  France           2
228    Romance  UK               5
229    Romance  USA              7
230    Sci-Fi   Canada           2
231    Sci-Fi   South Africa     1
232    Sci-Fi   UK               1
233    Sci-Fi   USA              9
234    Thriller Australia        1
235    Thriller UK               4
236    Thriller USA             13
237    War      USA              2
238    Western  UK               2

## **Window functions**


*   Aggregation functions such as mean(), n() return 1 value per group.
*   Window functions return multiple values per group, e.g.
top_n(), lead and lag or cummean:

In [ ]:
# rewrite more simply with the `top_n` function
movies2 <- select(movies, name, genre, country, year, budget, gross, rating, score)
top2 <- top_n(group_by(movies2, genre), n = 2, wt = score)
arrange(top2, genre, year, score)

   name                                              genre     country
1  The Dark Knight                                   Action    USA
2  Inception                                         Action    USA
3  The Lord of the Rings: The Fellowship of the Ring Adventure New Zealand
4  The Lord of the Rings: The Return of the King     Adventure USA
5  The Lion King                                     Animation USA
6  Spirited Away                                     Animation Japan
7  Your name                                         Animation Japan
8  Schindler's List                                  Biography USA
9  The Intouchables                                  Biography France
10 Forrest Gump                                      Comedy    USA
11 Life Is Beautiful                                 Comedy    Italy
12 Pulp Fiction                                      Crime     USA
13 The Shawshank Redemption                          Crime     USA
14 Saving Private Ryan                               Drama     USA
15 Fight Club                                        Drama     USA
16 Nutcracker                                        Family    USA
17 Little Nemo: Adventures in Slumberland            Family    Japan
18 The City of Lost Children                         Fantasy   France
19 Sleepy Hollow                                     Fantasy   USA
20 Los otros                                         Horror    Spain
21 Saw                                               Horror    USA
22 True Stories                                      Musical   USA
23 Devdas                                            Musical   India
24 Memento                                           Mystery   USA
25 Shutter Island                                    Mystery   USA
26 Firelight                                         Romance   UK
27 He Loves Me... He Loves Me Not                    Romance   France
28 The Butterfly Effect                              Sci-Fi    USA
29 Sector 9                                          Sci-Fi    South Africa
30 Defense of the Realm                              Thriller  UK
31 The Hitcher                                       Thriller  USA
32 Platoon Leader                                    War       USA
33 The Beast of War                                  War       USA
34 Posse                                             Western   UK
35 Slow West                                         Western   UK
   year budget   gross     rating        score
1  2008 1.85e+08 534858444 PG-13         9.0
2  2010 1.60e+08 292576195 PG-13         8.8
3  2001 9.30e+07 315544750 PG-13         8.8
4  2003 9.40e+07 377845905 PG-13         8.9
5  1994 4.50e+07 312900000 G             8.5
6  2001 1.90e+07  10055859 PG            8.6
7  2016 0.00e+00   5017246 PG            8.5
8  1993 2.20e+07  96067179 R             8.9
9  2011 0.00e+00  13182281 R             8.6
10 1994 5.50e+07 330252182 PG-13         8.8
11 1997 2.00e+07  57598247 PG-13         8.6
12 1994 8.00e+06 107928762 R             8.9
13 1994 2.50e+07  28341469 R             9.3
14 1998 7.00e+07 216540909 R             8.6
15 1999 6.30e+07  37030102 R             8.8
16 1986 0.00e+00    781727 G             7.2
17 1989 3.50e+07   1368210 G             7.2
18 1995 1.80e+07   1513028 R             7.7
19 1999 1.00e+08 101071502 R             7.4
20 2001 1.70e+07  96522687 PG-13         7.6
21 2004 1.20e+06  56000369 R             7.7
22 1986 0.00e+00   2545142 PG            7.0
23 2002 0.00e+00   3500000 Not specified 7.6
24 2000 9.00e+06  25544867 R             8.5
25 2010 8.00e+07 128012934 R             8.1
26 1997 0.00e+00    784419 R             7.3
27 2002 0.00e+00   1009827 PG-13         7.2
28 2004 1.30e+07  57938693 R             7.7
29 2009 3.00e+07 115646235 R             8.0
30 1986 0.00e+00    750000 PG            6.6
31 1986 6.00e+06   5844868 R             7.3
32 1988 0.00e+00   1348771 R             5.4
33 1988 0.00e+00    161004 R             7.4
34 1993 1.00e+07  18290000 R             5.5
35 2015 2.00e+06    229094 R             6.9

## **Other useful functions in dplyr**

In [ ]:
# Renaming variables
print(rename(movies2, gross_revenue = gross), n = 5)

# A tibble: 6,820 x 8
  name                 genre    country  year  budget gross_revenue rating score
  <chr>                <chr>    <chr>   <dbl>   <dbl>         <dbl> <chr>  <dbl>
1 Stand by Me          Adventu~ USA      1986  8.00e6      52287414 R        8.1
2 Ferris Bueller's Da~ Comedy   USA      1986  6.00e6      70136369 PG-13    7.8
3 Top Gun              Action   USA      1986  1.50e7     179800601 PG       6.9
4 Aliens               Action   USA      1986  1.85e7      85160248 R        8.4
5 Flight of the Navig~ Adventu~ USA      1986  9.00e6      18564613 PG       6.9
# ... with 6,815 more rows

In [ ]:
# Unique values
distinct(movies2, rating)

   rating
1  R
2  PG-13
3  PG
4  UNRATED
5  Not specified
6  G
7  NC-17
8  NOT RATED
9  TV-PG
10 TV-MA
11 B
12 B15
13 TV-14

In [ ]:
# Using multiple variables, returns distinct combinations of the variable values
distinct(movies2, rating, genre)

       rating        genre
1      R             Adventure
2      PG-13         Comedy
3      PG            Action
4      R             Action
5      PG            Adventure
6      R             Drama
7      PG-13         Adventure
8      PG-13         Action
9      R             Crime
10     UNRATED       Comedy
11     PG            Comedy
12     Not specified Drama
13     PG            Drama
14     R             Thriller
15     R             Horror
16     G             Animation
17     R             Biography
18     PG-13         Horror
19     R             Comedy
20     UNRATED       Biography
21     PG            Animation
22     PG            Horror
23     G             Adventure
24     PG-13         Sci-Fi
25     Not specified Animation
26     NC-17         Drama
27     PG-13         Biography
28     PG            Crime
29     Not specified Biography
30     UNRATED       Crime
<U+22EE> <U+22EE>      <U+22EE>
54     PG            Romance
55     NC-17         Crime
56     NC-17         Comedy
57     NOT RATED     Action
58     NC-17         Biography
59     NOT RATED     Biography
60     PG            Family
61     PG-13         Thriller
62     TV-PG         Drama
63     PG-13         Romance
64     PG-13         Animation
65     R             Romance
66     PG-13         Mystery
67     Not specified Action
68     R             Western
69     NOT RATED     Animation
70     UNRATED       Horror
71     TV-MA         Drama
72     G             Action
73     G             Biography
74     Not specified Adventure
75     Not specified Musical
76     B             Action
77     NOT RATED     Horror
78     B15           Drama
79     NOT RATED     Fantasy
80     NOT RATED     Adventure
81     UNRATED       Action
82     NOT RATED     Mystery
83     TV-14         Comedy

## **Sampling observations**

In [11]:
set.seed(210)
sample_n(movies, 5)

  budget  company                                country director
1 4.0e+06 Incorporated Television Company (ITC)  USA     John Dahl
2 4.5e+07 Universal Pictures                     USA     Oliver Parker
3 0.0e+00 Nippon Television Network (NTV)        Japan   Isao Takahata
4 2.4e+07 Twentieth Century Fox Film Corporation France  Xavier Gens
5 2.5e+07 Warner Bros.                           USA     Andrzej Bartkowiak
  genre     gross    name                  rating released   runtime score
1 Action      283694 Kill Me Again         R      1989-10-27  94     6.3
2 Action     8305970 Johnny English Reborn PG     2011-10-21 101     6.3
3 Animation   415941 Only Yesterday        PG     2016-02-26 118     7.7
4 Action    39687694 Hitman - Agente 47    R      2007-11-21 100     6.3
5 Action    55973336 Romeo Must Die        R      2000-03-22 115     6.1
  star             votes  writer          year
1 Val Kilmer         3576 John Dahl       1989
2 Rowan Atkinson    95736 Hamish McColl   2011
3 Miki Imai         16144 Hotaru Okamoto  1991
4 Timothy Olyphant 146777 Skip Woods      2007
5 Jet Li            59814 Mitchell Kapner 2000

In [19]:
set.seed(1534)
sample_frac(movies, 0.005, replace=TRUE) # fraction of rows, with replacement e.g. The Fly II

   budget   company                                country
1  0.00e+00 Lorimar Film Entertainment             USA
2  6.00e+07 Constantin Film                        Germany
3  0.00e+00 Golan-Globus Productions               USA
4  0.00e+00 Warp Films                             UK
5  9.00e+06 New Line Cinema                        USA
6  5.00e+07 Warner Bros.                           USA
7  8.50e+07 Columbia Pictures Corporation          USA
8  0.00e+00 Indian Paintbrush                      USA
9  0.00e+00 Tre V<e4>nner Produktion AB            Sweden
10 1.85e+08 Paramount Pictures                     USA
11 0.00e+00 No Trace Camping                       USA
12 2.50e+07 Warner Bros.                           USA
13 8.50e+06 Warner Bros.                           USA
14 1.00e+06 Andell Entertainment                   USA
15 7.00e+07 Metro-Goldwyn-Mayer (MGM)              UK
16 1.25e+07 Miramax                                UK
17 0.00e+00 Film Four International                UK
18 1.00e+06 Artisan Entertainment                  USA
19 5.00e+06 WingNut Films                          New Zealand
20 2.00e+07 Warner Bros.                           USA
21 0.00e+00 Brooksfilms                            USA
22 0.00e+00 Lawrence Gordon Productions            USA
23 7.50e+07 Warner Bros.                           USA
24 0.00e+00 Element Pictures                       UK
25 5.00e+06 Golan-Globus Productions               USA
26 2.00e+05 Doug Liman Productions                 USA
27 0.00e+00 Twentieth Century Fox Film Corporation USA
28 1.20e+07 The Weinstein Company                  UK
29 3.00e+07 Art Pictures Studio                    Russia
30 5.20e+07 Universal Pictures                     France
31 0.00e+00 Memfis Film                            Sweden
32 6.00e+07 DreamWorks                             USA
33 1.50e+07 Twentieth Century Fox Film Corporation USA
34 0.00e+00 Brooksfilms                            USA
   director            genre     gross
1  Susan Seidelman     Comedy      1869417
2  Paul W.S. Anderson  Action     60128566
3  William Tannen      Action      5301200
4  Shane Meadows       Crime        327919
5  F. Gary Gray        Action     36049108
6  Barbet Schroeder    Crime      31874869
7  Nora Ephron         Comedy     62252415
8  Alan Ball           Drama        371446
9  Daniel Espinosa     Action       188870
10 Steven Spielberg    Action    317101119
11 Michael Dowse       Comedy      4168144
12 Clint Eastwood      Crime      90135191
13 Mario Van Peebles   Action     47624253
14 John Hamburg        Comedy        21210
15 Michael Caton-Jones Drama       5971336
16 Mark Herman         Drama       9030581
17 Stephen Poliakoff   Drama        135893
18 Henry Bromell       Comedy       779137
19 Peter Jackson       Biography   3049135
20 Jon Amiel           Action     13801755
21 Chris Walas         Horror     20021322
22 Penny Marshall      Comedy     25587804
23 Richard Donner      Action     75982834
24 Lenny Abrahamson    Comedy       644906
25 Jerry Schatzberg    Crime       1119112
26 Doug Liman          Comedy      4505922
27 Phillip Borsos      Adventure  11642946
28 Stephen Frears      Biography  37707719
29 Fedor Bondarchuk    Action      1013945
30 Martin Scorsese     Crime      42438300
31 Lukas Moodysson     Crime        181655
32 Steven Spielberg    Comedy     77872883
33 Oliver Stone        Crime      43848100
34 Chris Walas         Horror     20021322
   name                                               rating  released
1  Cookie                                             R       1989-08-23
2  Resident Evil: Afterlife                           R       2010-09-10
3  Hero and the Terror                                R       1988-08-26
4  This Is England                                    UNRATED 2007-04-27
5  Set It Off                                         R       1996-11-06
6  Murder by Numbers                                  R       2002-04-19
7  Bewitched                                          PG-13   2005-06-24
8  Towelhead                                          R       2008-09-26
9  Easy Money                                         R       2010-01-15
10 Indiana Jones and the Kingdom of the Crystal Skull PG-13   2008-05-22
11 Goon                                               R       2012-02-24
12 Mystic River                                       R       2003-10-15
13 New Jack City                                      R       1991-03-08
14 Safe Men                                           R       1998-08-07
15 Basic Instinct 2                                   R       2006-03-31
16 The Boy in the Striped Pajamas                     PG-13   2008-11-26
17 Close My Eyes                                      R       1991-11-22
18 Panic                                              R       2001-10-19
19 Criaturas celestiales                              R       1998-03-27
20 The Man Who Knew Too Little                        PG      1997-11-14
21 The Fly II                                         R       1989-02-10
22 Jumpin' Jack Flash                                 R       1986-10-10
23 Conspiracy Theory                                  R       1997-08-08
24 Frank                                              R       2014-09-05
25 Street Smart                                       R       1987-03-20
26 Swingers                                           R       1997-04-11
27 Far from Home: The Adventures of Yellow Dog        PG      1995-01-13
28 Philomena                                          PG-13   2013-11-27
29 Stalingrad                                         R       2013-10-10
30 Casino                                             R       1995-11-22
31 Lilya 4-Ever                                       R       2002-08-23
32 The Terminal                                       PG-13   2004-06-18
33 Wall Street                                        R       1987-12-11
34 The Fly II                                         R       1989-02-10
   runtime score star                votes  writer             year
1   94     5.2   Peter Falk             929 Nora Ephron        1989
2   96     5.9   Milla Jovovich      143707 Paul W.S. Anderson 2010
3   96     5.2   Chuck Norris          2626 Michael Blodgett   1988
4  101     7.7   Thomas Turgoose     104084 Shane Meadows      2006
5  123     6.8   Jada Pinkett Smith   11203 Takashi Bufford    1996
6  115     6.1   Sandra Bullock       46166 Tony Gayton        2002
7  102     4.8   Nicole Kidman        61436 Nora Ephron        2005
8  116     7.0   Summer Bishil        10669 Alan Ball          2007
9  124     6.7   Joel Kinnaman        14513 Daniel Espinosa    2010
10 122     6.2   Harrison Ford       358563 David Koepp        2008
11  92     6.8   Seann William Scott  75386 Jay Baruchel       2011
12 138     8.0   Sean Penn           361466 Brian Helgeland    2003
13  97     6.6   Wesley Snipes        25867 Thomas Lee Wright  1991
14  88     6.0   Sam Rockwell          2851 John Hamburg       1998
15 114     4.2   Sharon Stone         32861 Leora Barish       2006
16  94     7.8   Asa Butterfield     149511 John Boyne         2008
17 108     6.4   Alan Rickman          2538 Stephen Poliakoff  1991
18  88     6.8   William H. Macy       7413 Henry Bromell      2000
19  99     7.4   Melanie Lynskey      52852 Fran Walsh         1994
20  94     6.6   Bill Murray          25388 Robert Farrar      1997
21 105     4.9   Eric Stoltz          18023 Mick Garris        1989
22 105     5.8   Whoopi Goldberg      15703 David Franzoni     1986
23 135     6.7   Mel Gibson           81477 Brian Helgeland    1997
24  95     7.0   Michael Fassbender   62768 Jon Ronson         2014
25  97     6.4   Christopher Reeve     2096 David Freeman      1987
26  96     7.3   Vince Vaughn         67289 Jon Favreau        1996
27  81     6.4   Jesse Bradford        2182 Phillip Borsos     1995
28  98     7.6   Judi Dench           82660 Steve Coogan       2013
29 131     5.6   Mariya Smolnikova    13238 Sergey Snezhkin    2013
30 178     8.2   Robert De Niro      367532 Nicholas Pileggi   1995
31 109     7.9   Oksana Akinshina     37477 Lukas Moodysson    2002
32 128     7.3   Tom Hanks           330983 Andrew Niccol      2004
33 126     7.4   Charlie Sheen       126195 Stanley Weiser     1987
34 105     4.9   Eric Stoltz          18023 Mick Garris        1989

## **Chaining operations**

The `magrittr` package provides a “pipe”-like operator, %>%:

*   The %>% is used pipe values forward into
an expression or function call.
*   In the pipe notation, you use x %>% f(y),
rather than f(x, y).

 Find movies from USA produced after 2010. Group by genre and compute the group mean gross revenue in million dollars. Then print the genre mean ‘gross’ revenue arranged in a ascending order:

In [20]:
# nesting
arrange(
  summarise(
    group_by(
      filter(movies,year > 2010, country == "USA"), genre
    ),
    mean_gross = mean(gross)/10^6
  ),
  mean_gross
)

   genre     mean_gross
1  Thriller    0.016458
2  Drama      23.252067
3  Horror     27.714873
4  Sci-Fi     29.169033
5  Fantasy    30.657051
6  Crime      32.128370
7  Comedy     35.152773
8  Biography  40.552788
9  Mystery    49.457150
10 Romance    62.495645
11 Adventure  81.227901
12 Action     97.285930
13 Animation 151.960486

In [21]:
# chaining
movies %>%
filter(year > 2010, country == "USA") %>%
group_by(genre) %>%
summarise(mean_gross = mean(gross)/10^6) %>%
arrange(mean_gross)

   genre     mean_gross
1  Thriller    0.016458
2  Drama      23.252067
3  Horror     27.714873
4  Sci-Fi     29.169033
5  Fantasy    30.657051
6  Crime      32.128370
7  Comedy     35.152773
8  Biography  40.552788
9  Mystery    49.457150
10 Romance    62.495645
11 Adventure  81.227901
12 Action     97.285930
13 Animation 151.960486